/* Estilização básica */
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
}

/* Oculta o botão no desktop */
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Redes sociais */
.redes-sociais {
  display: flex;
  gap: 10px;
  width: 30%;
  justify-content: end;
  align-items: end;
}

/* Menu principal */
.menu-central {
  display: flex;
  gap: 30px;
  width: 100%;
}

/* Responsivo */
@media (max-width: 768px) {
  .menu-central {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #bea57c;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    z-index: 1000;
    margin-top: 40px;
  }

  .menu-central.active {
    display: flex;
  }

  .hamburger {
    display: block;
    color: #151515;
  }

  .redes-sociais {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 660px) {

     .menu-central {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #bea57c;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    z-index: 1000;
    margin-top: 40px;
  }

  .menu-central.active {
    display: flex;
  }

  .hamburger {
    display: block;
    color: #151515;
  }

  .redes-sociais {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-scrollTopBtn{
display: none;
}

}
