/* Estilização básica */
header {
  display: flex;
  align-items: center;
}

/* Oculta o botão no desktop */
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Redes sociais */
.redes-sociais {
  display: flex;
  gap: 10px;
}

/* Menu principal */
.menu-central {
  display: flex;
  gap: 20px;
}

/* Responsivo */
@media (max-width: 768px) {
  .menu-central {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #bea57c;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    z-index: 1000;
    margin-top: 40px;
  }

  .menu-central.active {
    display: flex;
  }

  .hamburger {
    display: block;
    color: #151515;
  }

  .redes-sociais {
    display: none;
  }
}

@media (max-width: 481px) {
  .menu-central {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #bea57c;
    flex-direction: column;
    align-items: center;
  }

  .hamburger {
    display: block;
    color: #151515;
    align-items: flex-start;
    justify-content: start;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  .logo {
    display: flex;
    align-items: flex-start;
    justify-content: start;
  }
}
